* {
    margin: 0;
    padding: 0
}

html,
body {
    color: #333;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

a {
    text-decoration: none;
    color: #444
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0
}

img {
    border: 0
}

.header {
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 9;
}

.header-top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background: #333;
    color: #b0b0b0;

}

.header-top-detail {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-top-detail>div:nth-child(1) span {
    color: #ff6700;
}

.header-top-detail>div:nth-child(2) {
    display: flex;
    align-items: center;
}

.header-top-detail>div:nth-child(2) a {
    color: #fff;
    text-decoration: underline;
}

.header-top-detail>div:nth-child(2) img {
    height: 20px;
    margin-left: 20px;
}

.header-top-detail>div:nth-child(2) span {
    color: #ff6700;
}

.header-main {
    width: 100%;
    height: 60px;
    background: #ff6700;
    z-index: 9;
}

.etc {
    position: fixed;
    top: 0;
}

.header-main a {
    display: block;
    width: 240px;
    margin: 0 auto;
}

.header-main img {
    width: 100%
}

.banner {
    width: 100%;
    background: #b0b0b0;
    height: 400px;
    background: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(38, 43, 52, 0.2) url(../image/bg.png);
}

.banner-main {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    color: #c3c3c3;
    z-index: 1;
}

.banner-main ul li:nth-child(1) {
    letter-spacing: 5px;
    font-size: 12px;
    padding-bottom: 25px;
    position: relative;
}

.banner-main ul li:nth-child(1)::after {
    content: '';
    width: 62px;
    transform: translateX(-50%);
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #ff6700;
}

.banner-main ul li:nth-child(2) {
    margin-top: 50px;
    width: 200px;
    line-height: 70px;
    font-size: 30px;
    display: inline-block;
    border: 1px solid #c3c3c3;
}

.banner-main ul li:nth-child(2)::after {
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-left: 10px;
    width: 5px;
    height: 30px;
    background: #c3c3c3;
    -moz-animation: mouse 0.8s ease 0s infinite;
    -webkit-animation: mouse 0.8s ease 0s infinite;
    animation: mouse 0.8s ease 0s infinite;
}

.banner-main ul li:nth-child(3) {
    margin: 0 auto;
    margin-top: 50px;

}

.banner-main ul li:nth-child(3) span {
    display: block;
    margin-left: 50%;
    width: 1px;
    height: 60px;
    background: #c3c3c3;
    text-align: center;
    line-height: 70px;
}

.page-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.page-title>div {
    color: #ff6700;
    font-size: 30px;
}

.page-title>p {

    margin-top: 6px;
    position: relative;
}

.page-title>p span {
    display: inline-block;
    padding: 0 14px;
    background: #fff;
    color: #666;
    font-size: 12px;
}

.page-title>p::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.category {
    max-width: 1328px;
    margin: 60px auto 20px;
    background: #f0f0f0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-sizing: border-box
}


.category-container {
    font-size: 12px;
}

.category-search {
    max-width: 100%;
    height: 40px;
    background: #ff6700;
    padding: 6px 4% 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 40px;
    color: #fff;
}

.category-search div {
    display: inline-block;
    width: 460px;
    position: relative;
}

.sea-int {
    margin-left: 20px;
    border: none;
    outline: none;
    background: #fff;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-sizing: border-box;
}

.btn-int {
    border: none;
    outline: none;
    width: 44px;
    height: 30px;
    background: url('../image/search.png') no-repeat center;
    position: absolute;
    right: -20px;
    top: 4px;

}

.btn-int:hover {
    cursor: pointer;
}

.category-container-header {
    margin: 0 auto;
    padding: 10px 0;
    padding: 10px 4% 10px;
    border-bottom: 1px solid #d3d0d0;
}

.category-container-header span:nth-child(1) {
    font-weight: bold
}

.category-container-header span:nth-child(2) {
    display: inline-block;
    width: 50px;
    height: 16px;
    margin-left: 10px;
    padding: 8px 16px;
    background: #ff6700;
    color: #fff
}

.category-container-main {
    border-bottom: 1px solid #d3d0d0;
    padding: 0 4% 10px;
}

.category-list {
    overflow: hidden;
    padding: 10px 0;
}

.category-item {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 2;
}

.category-item a:hover {
    cursor: pointer;
    color: #ff6700;
}

.category-container-footer {
    margin: 20px 0;
    padding: 0 4% 10px;
}

.category-container-footer-main {
    overflow: hidden
}

.category-container-footer-main>div {
    float: left;
    width: 80px;
    height: 34px;
    margin-right: 20px
}

.category-container-footer-main div a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px;
    background: #ff6700;
    color: #fff
}

.wrap {
    max-width: 1400px;
    margin: 40px auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

.wrap-main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-wrap: wrap
}

.wrap-item {
    width: 33.33%;
    height: 520px;
    margin-bottom: 140px
}

.pic-wrap {
    width: 100%;
    margin: 0 auto
}

.pic {
    background: #f0f0f0;
    width: 80%;
    margin: 0 auto;
    height: 530px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

.pic-son-wrap {
    width: 100%;
    height: 100%;
}

.pic-son {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    height: 560px;
    overflow: hidden;
}

.pic-son .after {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../image/2wm.jpg') no-repeat center;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.after:hover+.before {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.pic-son>a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.before {
    display: block;
    width: 100%;
    height: 530px;
    background: rgba(0, 0, 0, 0.534);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.before img {
    width: 40%;
}

.pic-son a img {
    width: 100%;
}

.pic-main {
    width: 98%;
    margin: 0 auto;
    margin-top: 10px
}

.pic-title {
    color: #000;
    font-size: 14px;
    position: relative;
    padding-left: 2px;
}


.pic-guide {
    font-size: 13px;
    color: #999;
    padding-left: 2px;
    min-height: 26px;
    line-height: 26px
}

.pic-link {
    font-size: 12px
}

.pic-link a {
    display: block;
    width: 56px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d3d3d3;
    text-align: center;
    margin: 5px 0 0 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.pic-link a:hover {
    background: #ff6700;
    color: #fff
}

.advisory {
    width: 100%;
    background: url('../image/footer-banner.jpg') no-repeat
}

.advisory-main {
    width: 450px;
    margin: 0 auto;
    height: 242px;
    display: flex;
    flex: 1;
    justify-content: space-around
}

.advisory-main>div {
    width: 30%;
    text-align: left;
    margin-top: 70px
}

.advisory-title {
    font-size: 40px;
    color: #fff
}

.advisory-center {
    margin-top: 26px !important;
    padding-right: 30px
}

.advisory-center p {
    width: 100%;
    height: 100%;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear
}

.advisory-center p img {
    width: 100%
}

.advisory-center p:hover {
    transform: skew(7deg, 15deg);
    -webkit-transform: skew(7deg, 15deg);
    -moz-transform: skew(7deg, 15deg);
    -ms-transform: skew(7deg, 15deg);
    -o-transform: skew(7deg, 15deg)
}

.advisory-detail {
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
    color: #c9c9c9
}

.advisory-online {
    margin-top: 10px;
    width: 130px;
    height: 40px
}

.advisory-online a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background: #ff6700;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.advisory-online a:hover {
    background: #ff6600d7
}

.message {
    padding: 4% 15% 2%;
    max-width: 1200px;
    margin: 30px auto;
    font-size: 14px;
    display: flex;
    flex: 1;
    justify-content: space-between
}

.message p {
    line-height: 24px
}

.message-left .p2,
.message-left .p3,
.message-center .p2,
.message-right p {
    color: #999;
    font-size: 13px
}

.message-left .p4 {
    width: 24px
}

.message-left .p4 img {
    width: 100%
}

.message-left .p4:hover {
    cursor: pointer
}

.message-center {
    border-left: 1px solid #ddd;
    padding-left: 40px
}

.message-right img {
    width: 100px
}

footer {
    background: #333;
    color: #b0b0b0;
    font-size: 12px
}

.footer-top {
    padding: 4% 15% 2%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-bottom: 1px solid #5c5c5c
}

.footer-top ul {
    overflow: hidden
}

.footer-nav ul li {
    float: left;
    padding: 0 6px
}

.footer-nav ul li a {
    color: #b0b0b0
}

.footer-nav ul li a:hover {
    color: #ff6700
}

.footer-tel {
    overflow: hidden
}

.footer-tel p {
    float: left
}

.footer-tel p span:nth-child(1) {
    color: #ff6700;
    font-size: 24px;
    padding-left: 10px
}

.footer-tel p span:nth-child(2) {
    display: block;
    text-align: right
}

.footer-bottom {
    padding: 4% 15% 2%;
    display: flex;
    flex: 1;
    justify-content: space-between
}

.footer-logo {
    width: 270px;
}

.footer-logo img {
    width: 100%;
}

.footer-adress {
    box-sizing: border-box;
    padding-top: 22px;
    padding-left: 80px;
    line-height: 20px;
}

.links {
    width: 100%;
    height: 20px;
    background: #333;
    color: #b0b0b0;
    font-size: 12px
}

.links p {
    padding: 1% 15% 1%;
    background: #333
}

.links p a {
    color: #b0b0b0;
    margin-right: 10px
}

.links p a:hover {
    color: #ff6700
}

#pager ul.pages {
    display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 10px;
    margin: 10px 20px 50px;
    padding: 0;
    overflow: hidden
}

#pager ul.pages li {
    list-style: none;
    float: left;
    border: 1px solid #ccc;
    text-decoration: none;
    margin: 0 5px 0 0;
    padding: 5px 10px
}

#pager ul.pages li:hover {
    border: 1px solid #003f7e
}

#pager ul.pages li.pgEmpty {
    border: 1px solid #eee;
    color: #eee
}

#pager ul.pages li.pgCurrent {
    border: 1px solid #003f7e;
    color: #000;
    font-weight: 700;
    background-color: #eee
}

.slide {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -100px;
    width: 50px;
    height: 200px;
    background: #333;
    color: #fff;
    cursor: pointer
}

.slide div {
    height: 50px;
    position: relative
}

.slide div img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px
}

.slide-tel span {
    display: inline-block;
    height: 50px;
    width: 200px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 16px;
    background: #333
}

.slide-tel,
.slide-tel-span {
    background: #333;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear
}

.slide-tel:hover {
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px)
}

.slide-qq {
    background: #333;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear
}

.slide-qq span {
    display: inline-block;
    font-size: 16px;
    background: #333;
    height: 50px;
    width: 100px;
    padding-left: 50px;
    line-height: 50px
}

.slide-qq:hover {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px)
}

.slide-vx {
    position: relative
}

.slide-vx-pic {
    position: absolute;
    background: #333;
    width: 130px;
    height: 130px !important;
    left: -120px;
    top: -80px;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    display: none;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear
}

.slide-vx-pic img {
    width: 80% !important;
    margin-top: -56px !important;
    margin-left: -56px !important
}

.slide-vx:hover .slide-vx-pic {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    display: block;
}

.slide-top:hover {
    background: rgb(0, 0, 0)
}

@media(max-width:1360px) {

    .header-top-detail {
        max-width: 768px;
    }

    .pic {
        height: 450px
    }

    .shadow-2wm span img {
        top: 43%
    }

    .wrap-item {
        margin-bottom: 80px
    }

    .pic-son {
        height: 480px;
    }

    .pic-son>a {
        height: 420px;
    }

    .before {
        height: 450px;
    }
}

@media(max-width:1080px) {
    .banner {
        height: 300px;
    }

    .banner-main ul li:nth-child(2) {
        margin-top: 34px;
        width: 148px;
        line-height: 52px;
        font-size: 20px;
    }

    .banner-main ul li:nth-child(2)::after {
        height: 23px;
    }

    .banner-main ul li:nth-child(3) {
        margin-top: 30px;
    }

    .pic {
        height: 360px
    }

    .pic-son>a {
        height: 330px;
    }

    .pic-son {
        height: 386px;
    }

    .before,
    .after {
        display: none !important;
    }

    .wrap-item {
        margin-bottom: 0
    }

    .wm {
        display: none
    }
}

@media(max-width:768px) {
    .banner {
        height: 260px;
    }

    .banner-main ul li:nth-child(2) {
        width: 130px;
        line-height: 44px;
        font-size: 18px;
    }

    .banner-main ul li:nth-child(3) span {
        height: 50px;
    }

    .page-title>div {
        font-size: 20px;
    }

    .header {
        height: 60px;
    }

    .header-top {
        display: none;
    }

    .category-search {
        height: 80px;
    }

    .sea-int {
        width: 100%;
        margin-left: 0;
    }

    .btn-int {
        right: 0;
    }

    .category-search div {
        display: block;
        width: 100%;
    }

    .wrap-item {
        width: 50%
    }

    .pic {
        height: 300px
    }

    .pic-son>a {
        height: 270px;
    }

    .wrap-item {
        height: 460px
    }

    .pic-guide {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden
    }

    .advisory-main {
        height: 200px;
        width: 300px
    }

    .advisory-online {
        width: 90px;
        height: 30px
    }

    .advisory-online a {
        line-height: 30px;
        font-size: 12px
    }

    .advisory-title {
        font-size: 18px
    }

    .message,
    .footer-tel,
    .footer-bottom {
        display: none
    }

    .footer-nav {
        display: flex;
        flex: 1;
        justify-content: space-around
    }

    .category-container-main {
        display: none
    }

    .category-container-footer {
        margin-bottom: 0
    }

    .slide {
        display: none
    }

    .footer-top,
    .links p {
        text-align: center;
        padding-left: 0;
        padding-right: 0
    }
}

@media(max-width:320px) {
    .pic-title {
        font-size: 14px
    }

    .advisory {
        display: none
    }
}